<div class="button-container">
  <button class="button" onClick="counter()">Click Here</button>
  <div class="counter-container">Clicks: <span id="counter">0</span></div>
</div>

<script>
  var clicks = 0;
  function counter() {
    clicks += 1;
    document.getElementById("counter").innerHTML = clicks;
  }
</script>